name: Build and deploy Python app to Azure Web App - baymaxback

on:
  push:
    paths:
      - "backend/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v1
        with:
          python-version: "3.11"

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: pip install -r backend/requirements.txt

      - name: Set environment variables
        run: |
          echo "OPENAI_API_TYPE=${{ secrets.OPENAI_API_TYPE }}" >> backend/.env
          echo "OPENAI_API_VERSION=${{ secrets.OPENAI_API_VERSION }}" >> backend/.env
          echo "OPENAI_API_BASE=${{ secrets.OPENAI_API_BASE }}" >> backend/.env
          echo "OPENAI_API_DEPLOYMENT=${{ secrets.OPENAI_API_DEPLOYMENT }}" >> backend/.env
          echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" >> backend/.env

      - name: Zip artifact for deployment
        run: zip -r release.zip backend/*

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v3
        with:
          name: python-app
          path: |
            release.zip
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "Production"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Print Artifact Contents
          run: ls -R
          
      - name: "Deploy to Azure Web App"
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: "baymaxback"
          slot-name: "Production"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_368AF1D8C6534EEBA4AD40170512CAB5 }}
